<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="jsonbridge.AuthEnabled" value="false" />
    <add key="ApplicationExceptions.db" value="app-errors" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpModules>
      <add name="ExceptionHandler" type="WDK.Utils.UnhandledExceptions.ExceptionHandler, WDK.Utils.UnhandledExceptions" />
    </httpModules>
  </system.web>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ExceptionHandler" type="WDK.Utils.UnhandledExceptions.ExceptionHandler, WDK.Utils.UnhandledExceptions" />
       <add name="ServiceModel" type="System.ServiceModel.Activation.HttpModule, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="managedHandler" />
    </modules>

    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>
